.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.formlogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: center;
}

.divheader {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.frecciaIndietro {
  background: transparent;
  border: 0;
}

.titoloHeader {
  flex: 1;
  text-align: center;
}

.iconeform {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 0
}

.formregistrazione {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 30%;
  text-align: center;
}

.intestazione {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.buttonContainer {
  margin-top: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  border: 2px solid black;
}

.cartefed {
  margin: 20px;
  position: relative;
  align-items: center;
}

.movimenti {
  margin: 20px;
  width: 500px;
  position: relative;
  align-items: center;
  text-align: center;
}

.ricette {
  margin: 20px;
  width: 500px;
  position: relative;
  align-items: center;
  text-align: center;
}

.bottoniHomePage {
  border-radius: 7%;
  width: 200px;
  height: 150px;
  margin: 50px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.btn-outline-dark {
  width: 350px;
}

.bottoniHomePage:hover {
  background-color: #9bbbea;
}

.iconeHomePage {
  width: 70px;
  height: 70px;
}

.listeContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}


.trePunti {
  width: 20px;
  height: 20px;
  float: right;
}

.popup {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  padding: 10px;
}

.divemail {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.meseCorrente {
  text-align: left;
}

.linkNormale {
  display: inline;
  text-decoration: none;
  color: #000000;
}

.linkNormale:hover {
  color: #000000;
  text-decoration: none;
}